/* .timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
} */

/* .digits {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

.mili-sec {
  color: #e42a2a;
} */
